<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Home</title>
</head>
<body>
    <%- include('partials/nav'); %>
    <h1>This is a home page</h1>
    <h2>
        <%= datas.name %>
        <%= datas.status %>
    </h2>
</body>
</html>