<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Home</title>
</head>
<body>
    <%- include('partials/nav'); %>
    <h1>This is a home page</h1>
    <form id = "myForm">
        <input type="text" name = "langs" placeholder="language">
        <button class="btn waves-effect waves-light" type = "submit">add lang</button>
    </form>
    <ul>
        <% datas.forEach((lang)=>{ %>
            <li onclick = deleteme(this)> <%= lang %> </li>    
        <% }); %>
    </ul>
    <script src = "/script.js"></script>
</body>
</html>